<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns="http://www.w3.org/1999/xhtml" layout:decorator="~{layout}">

<body>
    <div class="content "  layout:fragment="content">
        <link rel="stylesheet" href="/css/argon.min.css">
        <div th:replace="~{fragment/left-side-bar}"></div>
        <div class="container p-5">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                      <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                          <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                            <h5 class="h3 mb-0">Total orders</h5>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <!-- Chart -->
                        <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                          <canvas id="chart-bars" class="chart-canvas chartjs-render-monitor" width="233" height="350" style="display: block; width: 233px; height: 350px;"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div  layout:fragment="content-js">
      
    </div>
</body>
</html>